<div
  class="mt-5 relative z-10 flex flex-col items-center justify-center h-full text-white"
>
  <div class="flex space-x-4">
    <button
      (click)="getData()"
      class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-4 px-8 rounded-lg shadow-lg transition"
    >
      Actualisé
    </button>
  </div>
  <div class="flex justify-center gap-4 mt-5" *ngIf="data">
    <div class="bg-white bg-opacity-10 rounded-lg shadow-lg p-8 w-100">
      <h2 class="text-2xl font-semibold mb-6 text-center">
        Resultat Nombre du jour
      </h2>
      <div class="grid grid-cols-1 gap-4">
        <h1 class="text-5xl font-extrabold mb-6 tracking-wide text-center">
          {{ formatNumberGroup(data.numbers) }}
        </h1>
      </div>
    </div>

    <div class="bg-white bg-opacity-10 rounded-lg shadow-lg p-8 w-100">
      <h2 class="text-2xl font-semibold mb-6 text-center">
        Resultat Etoile du jour
      </h2>
      <div class="grid grid-cols-2 gap-2">
        <h1 class="text-5xl font-extrabold mb-6 tracking-wide text-center">
          {{ data.stars[0] | number : "2.0-0" }}
        </h1>
        <h1 class="text-5xl font-extrabold mb-6 tracking-wide text-center">
          {{ data.stars[1] | number : "2.0-0" }}
        </h1>
      </div>
    </div>
  </div>
</div>
